/* Author: @famuyiwadayo */


/* :root signifies the root of the document */
:root {

  /* --variable-name: value; assigns a value to a variable-name of your choice in memory */
  --primary: #ffe8d6;
  --accent: #fcd5ce;
  --btn-accent: #ff9785;
  --btn-primary: #14213d;
  --btn-primary-hover: #1a2d56;
  --btn-primary-hover-shadow: #00288294;
  --btn-primary-text: #f8edeb;
  --btn-accent-text: #ffe8d6;
  --text-primary: #1010109d;
  --link-hover: #887d74;
  --link-primary: #615953;
  --logo-primary: #000000;
  --logo-accent: #ff9886;

  --showcase-blue: #0F7DFF;
  --showcase-accent: #FFD0C8;


  --black: #000000;
  --white: #ffffff;

  --padding-lr: 42px;
  --transition: all 300ms ease-in-out;
}

/* html, body selects the html and body tags in the document */
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Gilroy', sans-serif;
  font-size: 18px;
  scroll-behavior: smooth;
}

/* The asteric symbol (*) is css's way of select all the elements in the document
** and assigning styles to them all together. 
*/
* {
  box-sizing: border-box;
}

/* selects the header tag in the document */
header {
  padding: 0 var(--padding-lr);
  background-color: var(--primary);
}

/* selects the <element class="navigation"></element> tag in the document */
.navigation {
  width: 100%;
  height: 68px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* selects the <element class="navigation__logo"></element> tag in the document */
.logo, .navigation__logo {
  text-decoration: none;
}

/* selects the <element class="navigation__logo navigation__logo__text"></element> tag in the document */
.logo .logo__text, .navigation__logo .navigation__logo__text {
  font-size: 24px;
  font-weight: bold;
  color: var(--logo-primary);
  transition: var(--transition);
}

/* selects the element with the classname .navigation__logo when the mouse is
** on top of it and then apply the styles to the element with the classname
** .navigation__logo__text 
*/
.logo:hover .logo__text, .navigation__logo:hover .navigation__logo__text {
  color: var(--logo-accent);
  transition: var(--transition);
}

/* selects the element with the classname .navigation__logo__dot inside 
** the element with then classname .navigation__logo.
*/
.logo .logo__dot, .navigation__logo .navigation__logo__dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: var(--logo-accent);
  border-radius: 50%;
  transition: var(--transition);
}

/* selects the element with the classname .navigation__logo when the mouse is
** on top of it and then apply the styles to the element with the classname
** .navigation__logo__dot 
*/
.logo:hover .logo__dot, .navigation__logo:hover .navigation__logo__dot {
  background-color: var(--black);
  transition: var(--transition);
}

/* selects the anchor element inside the element with the classname .navigation__menu */
.menu a, .navigation__menu a {
  text-decoration: none;
  color: var(--link-primary);
  position: relative;
  padding: 10px;
}

/* selects the anchor element's psuedo 'after' element
** visit this link to learn more 
** https://www.w3schools.com/css/css_pseudo_elements.asp
*/
.menu a::after, .navigation__menu a::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: var(--btn-accent);
  bottom: -20px;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
  transition: var(--transition);
}

.menu a:first-child, .navigation__menu a:first-child {
  margin-right: 12px;
}

.menu a:hover, .navigation__menu a:hover {
  color: var(--link-hover);
  transition: var(--transition);
}

.menu a:hover::after, .navigation__menu a:hover::after {
  transform: translate(-50%, -200%);
  opacity: 1;
  visibility: visible;
  transition: var(--transition);
}


header .hero {
  display: flex;
  position: relative;
  justify-content: center;
}

.hero .hero__social-links {
  position: absolute;
  display: none;
}

.hero .hero__content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 80px 0;
}

.hero__social-links a {
  text-decoration: none;
  color: var(--link-primary);
  transition: var(--transition);
  padding: 20px;
}

.hero__content .hero__banner {
  max-width: 520px;
  margin-right: 100px;
}

.hero__banner .hero__banner__text {
  font-size: 42px;
  color: var(--text-primary);
  margin: 0;
}

.btn, .hero__banner .hero__banner__btn {
  width: 144px;
  height: 40px;
  background: var(--btn-primary);
  color: var(--btn-primary-text);
  margin-top: 40px;
  display: flex;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  box-shadow: 0px 1px 4px #605c68;
  outline: transparent;
  transition: box-shadow 300ms ease;
}

.btn:hover, .btn:focus, .hero__banner__btn:hover, .hero__banner__btn:focus {
  background: var(--btn-primary-hover);
  color: var(--btn-accent-text);
  transition: all 300ms ease;
  box-shadow: 0 0 2px 3px var(--btn-primary-hover-shadow);
}

.btn:active, .hero__banner__btn:active {
  transition: box-shadow 300ms ease;
  box-shadow: 0 0 2px 1.5px #02194ca6;
}

section.partner {
  padding: 100px var(--padding-lr);
  width: 100%;
  background-color: var(--primary);
  display: flex;
  justify-content: space-evenly;
}


section.showcase {
  width: 100%;
  background-color: var(--primary);
  padding: 100px var(--padding-lr);
}

.showcase .showcase__wrapper {
  background: var(--white);
  padding: 10px;
  border-radius: 10px;
}

.showcase__wrapper .showcase__container {
  background: var(--accent);
  padding: 50px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
}

.showcase__instance {
  background: var(--showcase-accent);
  box-shadow: 0 4px 5px rgba(0, 0, 0, .1);
  border-radius: 5px;
  padding: 60px 55px;
}

.showcase__instance .showcase__instance__count {
  color: var(--showcase-blue);
  font-size: 30px;
  font-weight: bolder;
  margin: 0;
  margin-top: 10px;
}

.showcase__instance .showcase__instance__name {
  color: var(--white);
  font-size: 30px;
  font-weight: bolder;
  margin: 0;
  margin-bottom: 5px;
}

.showcase__instance .showcase__instance__btn {
  background: var(--btn-accent);
  color: var(--btn-accent-text);
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 20px 25px;
}

.showcase__instance__btn:hover, .showcase__instance__btn:focus {
  color: var(--btn-accent-text);
  transition: all 300ms ease 0s;
  box-shadow: 0 0 2px 3px hsl(11deg 100% 62% / 33%);
}

.showcase__instance__btn:active {
  transition: box-shadow 300ms ease;
  box-shadow: 0 0 2px 1.5px hsl(11deg 100% 62% / 33%);
}

.showcase__instance__btn .showcase__instance__btn__text {
  margin-right: 14px;
  font-size: 16px;
  font-weight: normal;
}


.story {
  padding: 200px var(--padding-lr);
  display: flex;
  justify-content: center;
}

.story .story__banner {
  max-width: 450px;
  align-self: center;
  margin-right: 80px;
}

.story__banner #story__banner__heading {
  font-size: 48px;
  font-weight: bold;
  max-width: 350px;
  margin: 10px 0;
  color: rgba(0, 0, 0, .9);
  line-height: 97.9%;
}

.story__banner #story__banner__paragraph {
  font-size: 28px;
  font-weight: normal;
  color: rgba(0, 0, 0, .6);
  margin: 0;
  margin-top: 19px;
}

.story .story__illustration {
  position: relative;
}

.story__illustration #story__illustration__image {
  width: 80%;
}

.story__illustration .story__illustration__icon-block {
  position: absolute;
  padding: 20px;
  width: 110px;
  height: 92px;
  display: flex;
  justify-self: center;
  align-items: center;
  border-radius: 5px;
}

.story__illustration .story__illustration__icon-block:nth-child(2) {
  background-color: #479CFF;
  box-shadow: 0 4px 94px #0f7bffa8;
  bottom: 80px;
  left: -80px;
}

.story__illustration .story__illustration__icon-block:nth-child(3) {
  top: -50px;
  right: 0;
  background-color: #FEEEB7;
  box-shadow: 0 4px 94px #FDD231a8;
}

.story__illustration__icon-block img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.7);
}

footer {
  padding: 40px var(--padding-lr);
  background: var(--showcase-accent);
}

.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__content .footer__btn {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background: var(--white);
  outline: transparent;
  box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  transition: all 300ms ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__btn:hover {
  transition: all 300ms ease;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .3);
}

.footer__btn img {
  transform: scale(0.7);
}

.footer__copyright {
  margin-top: 30px;
  padding: 10px;
  text-align: center;
  font-weight: normal;
}